<!-- Day1 -->
<!-- interpolation -->
<!-- data binding -->
<!-- <h2>{{user}}</h2> -->

<!-- class -->
<!-- <h1>{{dataClass.name}}</h1> -->
<!-- <img src="{{dataClass.imgURL}}" width="300" height="300"> -->

<!-- <ul>
  <li>{{dataClass.data[0]}}</li>
  <li>{{dataClass.data[1]}}</li>
</ul> -->

<!-- ngFor => for of => for(let i of arrayName) -->
<!-- <ul>
  <li *ngFor="let item of dataClass.data">{{item}}</li>
</ul> -->




<!-- interface -->
<h3>{{track.trackName}}</h3>
<p>{{track.brachName}}</p>


<ul>
  <li *ngFor="let branch of track.braches">{{branch}}</li>
</ul>


<!-- <img src="{{track.trackLogo}}"> -->


<!-- ########################################## -->
<!-- Day2 -->
<!-- property binding -->
<img [src]="track.trackLogo" *ngIf="showImg">

<!-- <button onclick="func1()"></button> -->
<br>
<!-- <button class="btn btn-primary" (click)="func1()">Click</button> -->
<button class="btn btn-primary" (click)="toggleImg()">Toggle Img</button>


<!-- <input type="text" class="form-control" name="user" id="usr" value="{{userFeedback}}"> -->
<!-- <input type="text" class="form-control" name="user" id="usr" [value]="userFeedback"> -->
<input type="text" class="form-control" name="user" id="usr" [(ngModel)]="userFeedback">
<!-- <input type="text" class="form-control" name="user" id="usr" [value]="userFeedback"> -->
<!-- <h1>{{userFeedback}}</h1> -->

