<!-- interpolation -->
<!-- data binding -->
<!-- <h2>{{user}}</h2> -->

<!-- class -->
<!-- <h1>{{dataClass.name}}</h1> -->
<!-- <img src="{{dataClass.imgURL}}" width="300" height="300"> -->

<!-- <ul>
  <li>{{dataClass.data[0]}}</li>
  <li>{{dataClass.data[1]}}</li>
</ul> -->

<!-- ngFor => for of => for(let i of arrayName) -->
<!-- <ul>
  <li *ngFor="let item of dataClass.data">{{item}}</li>
</ul> -->




<!-- interface -->
<h3>{{track.trackName}}</h3>
<p>{{track.brachName}}</p>


<ul>
  <li *ngFor="let branch of track.braches">{{branch}}</li>
</ul>


<img src="{{track.trackLogo}}">
